
<%= div_for post do %>
    <p><b>Posted <%= time_ago_in_words(post.created_at) %> ago</b></p>
    <span class="username"><%= link_to post.user.username, user_path(post.user.username,post.user.id)%>:</span>
    <%= post.message %>
    <% unless post.user_id == current_user.id %>
        <% case post.is_visible %>
<% when true %>
            <span><%= button_to "ReTweet", create_post_path(:message => post.message, :is_visible => true),:class=>"btn", :method => :post  %></span>
            <span class="color_golden"><i>This is Public Tweet.</i></span>
        <% when false %>
            <% if is_following(post.user_id) %>
                <br/><br/>
                <span>  <%= button_to "ReTweet", create_post_path(:message => post.message, :is_visible => true),:class=>"btn", :method => :post  %></span>
                <span class="color_golden"><i>This is Private Tweet.</i></span>
            <% else %>
                <br/><br/>
                <span class="color_golden">This is Private Tweet, so you cannot retweet it.</span>
            <% end %>
        <% end %>
    <% else %>
        <span> <%= button_to "ReTweet", create_post_path(:message => post.message, :is_visible => true),:class=>"btn", :method => :post  %></span>
        <% if post.is_visible %>
            <span class="color_golden"><i>This is Public Tweet.</i></span>
        <% else %>
            <span class="color_golden"><i>This is Private Tweet.</i></span>
        <% end %>
    <% end %>

<% end %>

